@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  @apply h-full;
}

html {
  @apply h-full;
}

input {
  outline: none;
}

#audio-sound {
  background: #f1f3f4;
  filter: contrast(75%) invert(100%);
  outline: none;
}

#navbar {
  background: #121212;
}

.lyric-text,
.lyric-text-current {
  display: block;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: bold;
  font-size: 4vw;
  cursor: default;
  line-height: 1;
}

.lyric-text {
  color: rgba(0, 0, 0, 0.6);
}

.lyric-text-current {
  color: white;
}

li {
  color: #b3b3b3;
  cursor: default;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-bottom: 0.75rem;
}

li:hover {
  color: white;
}

#new-playlist-btn {
  color: #b3b3b3;
  outline: none;
  cursor: default;
  margin-top: 2px;
}

#playlist-container li {
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#new-playlist-container {
  border-top: 0.25px solid rgba(255, 255, 255, 0.2);
}

#new-playlist-icon {
  cursor: default;
  border: 1px solid #b3b3b3;
  color: #b3b3b3;
  top: 1rem;
  left: 1rem;
}

#new-playlist-container:hover #new-playlist-icon {
  border: 1px solid white;
  color: white;
}

#new-playlist-container:hover #new-playlist-btn {
  color: white;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
