@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  @apply h-full;
}

html {
  @apply h-full;
}

#audio-sound {
  background: #f1f3f4;
  filter: contrast(75%) invert(100%);
  outline: none;
}

#navbar {
  background: #121212;
}

.lyric-text,
.lyric-text-active {
  display: block;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: bold;
  font-size: 3rem;
  cursor: default;
}

.lyric-text {
  color: black;
}

.lyric-text-active {
  color: white;
}

li {
  color: #b3b3b3;
  cursor: default;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-bottom: 0.75rem;
}

li:hover,
#new-playlist-btn:hover {
  color: white;
}

#new-playlist-btn {
  color: #b3b3b3;
  outline: none;
  cursor: default;
}

#playlist-container li {
  font-weight: normal;
}

#new-playlist-container {
  border-top: 0.25px solid rgba(255, 255, 255, 0.2);
}
